*{
	background: #94b998;
}

h1{
	color: #007284;
	font-size: 60px;
	text-align: center;
}

img{
	display: block;
	margin: auto;
}

p{
text-align: center;
}

div{
	text-align: center;
}

strong{	
	color:#0000cd;
	font-size: bold; 
}